<html>
  <head>
    <title>Clorum Admin</title>
  </head>

  <body>
    <div class="container">
      <h1>Edit Discussion</h1>

      <a href="/admin/discussions">Admin Home</a> | <a href="/">Board Home</a>

      <form action="/admin/discussions/{{discussion.id}}/save" method="post">
        <label for="title">Title</label>
        <input name="title" value="{{discussion.title}}" /><br />

        <label for="author">Username</label>
        <input name="author" value="{{discussion.author}}" /><br />
        <!--
        <label for="password">Password</label>
        <input name="password" type="password" /><br />
        -->
        <label for="category">Category</label>
        <input name="category" value="{{discussion.category}}" /><br />

        <label for="content">Content</label><br />
        <textarea name="content" columns="100" cols="50" rows="8"></textarea><br />

        <input type="submit" />
      </form>
    </div>
  </body>
</html>
