{{> header}}

    <div class="container">
      <h1>User Registration</h1>

      <a href="/">Home</a>

      <form action="/users/register/create" method="post">
        <label for="username">Username</label>
        <input name="username" /><br />

        <label for="password">Password</label>
        <input name="password" type="password" /><br />

        <label for="email">Email</label>
        <input name="email" /><br />

        <label for="bio">Bio (max: 255 characters)</label><br />
        <textarea name="bio" columns="100" cols="50" rows="4" maxlength="255"></textarea><br />

        <input type="submit" />
      </form>
    </div>

{{> footer}}
