{{#user}}
<html>
  <head>
    <title>Viewing profile: {{username}} - Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>{{username}}</h1>

      <a href="/">Home</a> | <a href="/users/{{id}}/edit">Edit</a>

      <p class="profile registered">Member since: {{registered}}</p>

      <h3>Bio</h3>
      <p class="profile bio">{{bio}}</p>

      <h3>Discussions</h3>
      {{#discussions}}

      {{/discussions}}

      <h3>Replies</h3>
      {{#posts}}

      {{/posts}}
    </div>
  </body>
</html>
{{/user}}
