<html>
  <head>
    <title>Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>New Thread</h1>

      <form action="/threads/create" method="post">
        <label for="title">Title</label>
        <input name="title" /><br />

        <label for="author">Username</label>
        <input name="author" /><br />
        <!--
        <label for="password">Password</label>
        <input name="password" type="password" /><br />
        -->
        <label for="category">Category</label>
        <input name="category" /><br />

        <input type="submit" />
      </form>
    </div>
  </body>
</html>
