{{#thread}}
<html>
  <head>
    <title>{{title}} - Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>{{title}}</h1>

      Started by <em>{{author}}</em> at {{created}}. Posted in <a href="/categories/{{category}}">{{category}}</a>.
    </div>
  </body>
</html>
{{/thread}}
