<html>
  <head>
    <title>Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>Categories Listing</h1>

      <a href="/">Home</a> | <a href="/users/register">Register</a> | <a href="/users">User list</a> | <a href="/recent">Recent</a> | <a href="/discussions/new">Start new discussion</a>

      <ol>
      {{#categories}}
        <li><a href="/categories/{{category}}">{{category}}</a>, {{discussions}} discussions</li>
      {{/categories}}
      </ol>
    </div>
  </body>
</html>
