{{> header}}

      <h2>Categories Listing</h2>

      <div class="alert alert-info">
        To create a new category, simply specify it when <a href="/discussions/new">creating a discussion</a>.
      </div>

      <ol>
      {{#categories}}
        <li><a href="/categories/{{category}}">{{category}}</a>, {{discussions}} discussions</li>
      {{/categories}}
      </ol>

{{> footer}}
