<html>
  <head>
    <title>{{category}} - Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>All discussions in {{category}}</h1>

      <ol>
      {{#discussions}}
        <li><a href="/discussions/{{id}}"><strong>{{title}}</strong></a> by <em>{{author}}</em>, at {{created}}</li>
      {{/discussions}}
      </ol>
    </div>
  </body>
</html>
