{{> header}}

      <h1>All discussions in {{category}}</h1>

      <a href="/">Home</a>

      <ol>
      {{#discussions}}
        <li><a href="/discussions/{{id}}"><strong>{{title}}</strong></a> by <em>{{author}}</em>, at {{created}}</li>
      {{/discussions}}
      </ol>

{{> footer}}
