<html>
  <head>
    <title>Clorum Admin</title>
  </head>

  <body>
    <div class="container">
      <h1>Threads Listing</h1>

      <a href="/threads/new">New thread</a>

      <ol>
      {{#threads}}
        <li>[ <a href="/admin/threads/{{id}}/edit">Edit</a> | <a href="/admin/threads/{{id}}/delete">Delete</a> ] <a href="threads/{{id}}"><strong>{{title}}</strong></a> by <em>{{author}}</em> in <a href="/categories/{{category}}">{{category}}</a>, at {{created}}</li>
      {{/threads}}
      </ol>
    </div>
  </body>
</html>
