<html>
  <head>
    <title>Clorum Admin</title>
  </head>

  <body>
    <div class="container">
      <h1>Edit User</h1>

      <a href="/admin/discussions">Admin Home</a> | <a href="/">Board Home</a>

      <form action="/admin/users/{{user.id}}/save" method="post">
        <label for="username">Username</label>
        <input name="username" value="{{user.username}}" /><br />

        <label for="email">Email</label>
        <input name="email" value="{{user.email}}" /><br />

        <label for="bio">Bio (max: 255 characters)</label><br />
        <textarea name="bio" columns="100" cols="50" rows="4" maxlength="255">{{user.bio}}</textarea><br />

        <input type="submit" />
      </form>
    </div>
  </body>
</html>
