{{> header}}

    <div class="container">
      <h1>Users Listing</h1>

      <a href="/admin/discussions">Admin Home</a> | <a href="/">Board Home</a>

      <ol>
      {{#users}}
        <li>[ <a href="/admin/users/{{id}}/edit">Edit</a> | <a href="/admin/users/{{id}}/delete">Delete</a> ] <a href="/admin/users/{{id}}">{{username}}</a></li>
      {{/users}}
      </ol>
    </div>

{{> footer}}
