{{> header}}

      <h2>Discussions Listing</h2>

      <div class="row no-margin">
        <div class="col-md-3">
          Discussion name
        </div>
        <div class="col-md-3">
          Category
        </div>
        <div class="col-md-3">
          Started by
        </div>
        <div class="col-md-3">
          Creation date
        </div>
      </div>

      {{#discussions}}
      <div class="row no-margin">
        <div class="col-md-3">
          <a href="/discussions/{{id}}">{{title}}</a>
        </div>
        <div class="col-md-3">
          <a href="/categories/{{category}}">{{category}}</a>
        </div>
        <div class="col-md-3">
          {{author}}
        </div>
        <div class="col-md-3">
          {{created}}
        </div>
      </div>
      {{/discussions}}

{{> footer}}
