{{> header}}

      <h1>Start New Discussion</h1>

      <form action="/discussions/create" method="post" class="form-group">
        <label for="title">Title</label>
        <input name="title" class="form-control" /><br />

        <label for="author">Username</label>
        <input name="author" class="form-control" /><br />

        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" /><br />

        <label for="category">Category</label>
        <input name="category" class="form-control" /><br />

        <label for="content">Content</label><br />
        <textarea name="content" columns="100" cols="50" rows="8" class="form-control"></textarea><br />

        <input type="submit" value="Submit discussion" class="form-control" />
      </form>

{{> footer}}
