{{> header}}

      <h1>Start New Discussion</h1>

      <a href="/">Home</a>

      <form action="/discussions/create" method="post">
        <label for="title">Title</label>
        <input name="title" /><br />

        <label for="author">Username</label>
        <input name="author" /><br />

        <label for="password">Password</label>
        <input name="password" type="password" /><br />

        <label for="category">Category</label>
        <input name="category" /><br />

        <label for="content">Content</label><br />
        <textarea name="content" columns="100" cols="50" rows="8"></textarea><br />

        <input type="submit" />
      </form>

{{> footer}}
