<html>
  <head>
    <title>Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>Post Reply</h1>

      <a href="/">Home</a>

      <form action="/discussions/{{id}}/reply/create" method="post">
        <input name="parent" type="hidden" value="{{id}}" />

        <label for="author">Username</label><br />
        <input name="author" /><br />
        <!--
        <label for="password">Password</label><br />
        <input name="password" type="password" /><br />
        -->
        <label for="content">Content</label><br />
        <textarea name="content" columns="100" cols="50" rows="8"></textarea><br />
        <br />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
