{{#discussion}}
<html>
  <head>
    <title>{{title}} - Clorum</title>
  </head>

  <body>
    <div class="container">
      <h1>{{title}}</h1>

      <p class="thread info">Started by <em>{{author}}</em> at {{created}}. Posted in <a href="/categories/{{category}}">{{category}}</a>.</p>

      {{#replies}}
      <p class="post author">{{author}} <span class="post date">{{created}}</span></p>
      <p class="post content">{{content}}</p>

      {{/replies}}

      <p class="post reply">[ <a href="{{id}}/reply">Reply to thread</a> ]</p>
    </div>
  </body>
</html>
{{/discussion}}
