</div> <!-- /.page-content -->
</div> <!-- /.container -->

<footer>
  Copyright &copy; 2017. Powered by <a href="https://github.com/ipavl/clorum">Clorum</a>.
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/assets/js/clorum.js"></script>
</body>
</html>
