<!doctype html>
<html>
<head>
  <title>{{title}} | Clorum</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/assets/css/clorum.css" />
  <link rel="stylesheet" href="/assets/css/theme.css" />
</head>
<body>

<a href="/">Home</a>
